<div class="panel-body">
	<% if @user %>
  		<h1> Welcome <%= @user.name %> to the second version of this site </h1>

	    <div class="row">
	        <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Stock Ticker (Owned Stocks)
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="topTable">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Symbol</th>
                                        <th>Price</th>
                                        <th>% Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                          			
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
					<div id="chart-container"><%= @chart.render() %></div>
				</div>
	            
	        </div>
	        <!-- /.col-lg-8 -->
	        <div class="col-lg-4">
	        	<div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-facebook-square fa-fw"></i> Post a Status
	                </div>
	                <div class="panel-body">
	                    <%= form_tag("/welcome", method: "post") do %>
                        <div class="input-group custom-search-form">
                            <%= text_field_tag 'status', nil, placeholder: "Status", class: "form-control" %>
                            <span class="input-group-btn">
                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                Post
                            <% end %>
                            </span>
                        </div>
                    <% end %>
	                </div>
	                <div class="panel-footer">
	                	<strong>Current Status</strong>: <%= "#{@myself.first['message']}" %>
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-list-alt fa-fw"></i> News Feed
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <div class="list-group">
	                    	<% @posts.each do |post| %>

	                    		<% unless post['message'].blank?%>
		                    		<p class="list-group-item">
		                    			<% if post['type'] == 'photo' %>
		                    				<i class="fa fa-camera-retro fa-fw"></i>
	                    				<% elsif post['type'] == 'video' %>
	                    					<i class="fa fa-play-circle fa-fw"></i>
	                    				<% else %>
		                    				<i class="fa fa-comment fa-fw"></i>
	                    				<% end %>
	                    				<%= post['from']['name'] %>: <%= post['message'] %>
		                    		</p>
	                    		<% end %>
	                    	<% end%>
	                    </div>
	                    <!-- /.list-group -->
	                    <a href="https://www.facebook.com" class="btn btn-default btn-block"><i class="fa fa-facebook"></i> View On Facebook</a>
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->
	        </div>
	        <!-- /.col-lg-4 -->
	    </div>
    <% else %>
  		<h1> Go sign in </h1>
  		<a class="btn btn-block btn-social btn-facebook">
        	<i class="fa fa-facebook"></i> Sign in with Facebook
    	</a>
  		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	<% end %>  
</div>

