<%= javascript_tag do %>
  window.productsURL = "test";
<% end %>

<div class="panel-body">
	<% if @report.nil? %>
		<h1> Error: Invalid Stock Symbol </h1>
		<h2> Please try again </h2>
	<% else %>
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i> Stock Chart 1
	                    <div class="pull-right">
	                        <div class="btn-group">
	                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                                Actions
	                                <span class="caret"></span>
	                            </button>
	                            <ul class="dropdown-menu pull-right" role="menu">
	                                <li><a href="#">Action</a>
	                                </li>
	                                <li><a href="#">Another action</a>
	                                </li>
	                                <li><a href="#">Something else here</a>
	                                </li>
	                                <li class="divider"></li>
	                                <li><a href="#">Separated link</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <div id="morris-area-chart"></div>
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-clock-o fa-fw"></i> Stock History
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <ul class="timeline">
	                    	<% @transactions.each do |k, v| %>
	                    		<% if k%2 == 0 %>
	                    			<li>
	                    		<% else %>
	                    			<li class="timeline-inverted">
	                    		<% end %>
		                            <div class="timeline-badge"><i class="fa fa-dollar"></i>
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4 class="timeline-title"><%= v.transaction_type %></h4>
		                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= v.created_at %></small>
		                                    </p>
		                                </div>
		                                <div class="timeline-body">
		                                    <p><%= v.notes %></p>
		                                </div>
		                            </div>
		                        </li>
	                    	<% end %>
	                    </ul>
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->

			</div>

			<div class="col-lg-4">
				<% if @report['ChangePercent'] >= 0 %>
					<div class="panel panel-success">
				<% else %>
					<div class="panel panel-danger">
				<% end %>
                    <div class="panel-heading">
                        <%= @report['ChangePercent'] >= 0 ? "Up #{number_with_precision(@report['ChangePercent'], precision: 3)}%" : "Down #{number_with_precision(@report['ChangePercent'], precision: 3)}%" %>
                    </div>
                    <div class="panel-body">
                    	<ul>
                    		<li><strong>Name</strong>:<%= @report['Name'] %> (<%= @report['Symbol'] %>)</li>
                    		<li><strong>Price</strong>: <%= @report['LastPrice'] %> </li>
                    		<li><strong>Change</strong>: <%= number_with_precision(@report['Change'], precision: 2) %></li>
                    		<li><strong>You Own</strong>: <%= @stock.amount.nil? ? "" : @stock.amount %> shares</li>
                    		<li><strong>Net Worth</strong>: $<%= @stock.value(@report['LastPrice']).nil? ? "" : number_with_precision(@stock.value(@report['LastPrice']), precision: 2)%></li>
                    	</ul>
                    	<%= form_tag("/reports", method: "purchase") do %>
                        <div class="input-group custom-search-form">
                            <%= text_field_tag 'amount', nil, placeholder: "# Of Shares", class: "form-control" %>
                            <span class="input-group-btn">
                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                Purchase
                            <% end %>
                            </span>
                        </div>
                        <%= text_area_tag 'notes', nil, placeholder: "Notes on purchase", style: "width: 100%;" %>
                        <%= hidden_field_tag :symbol, @report['Symbol'] %>
                        <%= hidden_field_tag :name, @report['Name'] %>
                        <%= hidden_field_tag :price, @report['LastPrice'] %>
                    <% end %>
                    </div>
                    <div class="panel-footer">
                    	<p>Last Updated: <%= @report['Timestamp'] %> </p>
                    </div>
                </div>	
			</div>
		</div>
	<% end %>
</div>